<div class="searchDiv">
{formstart:maila:{url:(mail/mailbox/)}{$fid}/{$page}:post}
<table cellpadding="0" cellspacing="0">
<tr>
<td>
<input type="text" value="" name="search" class="searchBox"/>
</td>
<td>
<select name="folder" class="searchSelect"><option value="0">{cfn:getmessage(164)} </option>
				<option value="1">{cfn:getmessage(19)}</option>
			<option value="6">{cfn:getmessage(205)}</option>
			<option value="4">{cfn:getmessage(12)}</option>
			<option value="3">{cfn:getmessage(21)}</option>
		  <option value="2">{cfn:getmessage(20)}</option>
			 {loopstart:customfolders:1000}
			<option value="{$customfolders[0]}" >{$customfolders[1]}</option>
			{loopend:customfolders} 
			</select>
</td>
<td width="21px">
<div class="searchButton">
<input type="submit" name="submit" id="submit" value=" "  class="sendButtn"/>
</div>
</td>
</tr>
</table>
{formend:maila}
</div> 
<div class="ftr">{noescape:$footer}</div>