<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<script type="text/javascript">
function cancelfn()
{
window.location.href="{url:(index/index)}";
}


function echeck(str) {

		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    alert("{cfn:getmessage(159)}")
		    return false
		}

		 if (str.indexOf(at,(lat+1))!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.indexOf(dot,(lat+2))==-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }
		
		 if (str.indexOf(" ")!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

 		 return true					
	}
   
function ValidateForm()
{

var whichspan=document.getElementById("whichspan").value;
if(whichspan=="qstnanswerid")
{

var question=document.getElementById("question").value;
var answer=document.getElementById("answer").value;
var image=document.getElementById("image").value;
var day=document.getElementById("day").value;
var month=document.getElementById("month").value;
var year=document.getElementById("year").value;
if(question=="")
{
alert("{cfn:getmessage(125)}");
document.getElementById("question").focus();
return false;
}
else if(question==1)
{
var myqst=document.getElementById("myqst").value;
if(myqst=="")
{
alert("{cfn:getmessage(125)}");
document.getElementById("myqst").focus();
return false;

}
else if(answer=="")
{
alert("{cfn:getmessage(277)}");
document.getElementById("answer").focus();
return false;
}
}
if(answer=="")
{
alert("{cfn:getmessage(277)}");
document.getElementById("answer").focus();
return false;
}
else if(day=="")
{

alert("{cfn:getmessage(128)}");
document.getElementById("day").focus();
return false;
}
else if(month=="")
{

alert("{cfn:getmessage(129)}");
document.getElementById("month").focus();
return false;
}
else if(year=="")
{

alert("{cfn:getmessage(130)}");
document.getElementById("year").focus();
return false;
}
else if(image=="")
{
alert("{cfn:getmessage(149)}");
document.getElementById("image").focus();
return false;
}
else
{
return true;

}

}
else if(whichspan=="altemailid")
{
var altemail=""; 
altemail=document.getElementById("alternatemail").value;
var id="alternatemail";

var image=document.getElementById("image").value;
var day=document.getElementById("day").value;
var month=document.getElementById("month").value;
var year=document.getElementById("year").value;
if(altemail=="")
{
alert("{cfn:getmessage(158)}");
document.getElementById(id).focus();
return false;
}
else
{

	var emailID=document.getElementById(id).value;
	
	if ((emailID==null)||(emailID==""))
	{
		alert("{cfn:getmessage(158)}");
		document.getElementById(id).focus();
		return false;
	}
	
	
	var ss=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

	 if(ss.test(emailID)==false) 
	 {
	 	alert("{cfn:getmessage(159)}");
	 	document.getElementById(id).value="";
		document.getElementById(id).focus();
      	return false;
      }
	  else if (echeck(emailID)==false)
	  {
	    
		document.getElementById(id).value="";
		document.getElementById(id).focus();
		return false;
	 }
	 
else if(day=="")
{

alert("{cfn:getmessage(128)}");
document.getElementById("day").focus();
return false;
}
else if(month=="")
{

alert("{cfn:getmessage(129)}");
document.getElementById("month").focus();
return false;
}
else if(year=="")
{

alert("{cfn:getmessage(130)}");
document.getElementById("year").focus();
return false;
}
	else if(image=="")
		{
			alert("{cfn:getmessage(149)}");
			document.getElementById("image").focus();
			return false;
		}
		else
	return true;
	}
	
 }
 
 

 }
 
 function display(id)
 {

 if(id=="altemailid")
 {
 

 document.getElementById("whichspan").value="altemailid";
 document.getElementById("displayaltemail").style.display="none";
 document.getElementById("qstnanswerid").style.display="none";
 document.getElementById(id).style.display="";
 document.getElementById("displayqstn").style.display="";
document.getElementById("alternatemail").focus();
//var v="{$alteremail}";
//if(v=="")
//{
//document.getElementById("alternatemail").disabled=true;
//document.getElementById("newaltemail").style.display="";

//document.getElementById("whichemail").value=1;

//document.getElementById("alternatemail1").focus();
//}
//else
//{
document.getElementById("whichemail").value=0;

document.getElementById("alternatemail").focus();
//}
 }
 else if(id=="qstnanswerid")
 {
 document.getElementById("whichspan").value="qstnanswerid";
 document.getElementById("altemailid").style.display="none";
 document.getElementById(id).style.display="";
 document.getElementById("displayqstn").style.display="none";
  document.getElementById("displayaltemail").style.display="";
 
 }
 }
 
 
function loadfn(id)
{
if(id=="qstnanswerid")
{
var loadvalue="qstnanswerid";
document.getElementById("question").focus();
document.getElementById("whichspan").value=loadvalue;
}
else if(id=="altemailid")
{
var loadvalue="altemailid";
document.getElementById("whichspan").value=loadvalue;
}

if(loadvalue=="altemailid")
{
var v="{$alteremail}";
if(v=="")
{

//document.getElementById("alternatemail").disabled=true;
//document.getElementById("newaltemail").style.display="";
document.getElementById("altemailinfo").style.display="none";
//document.getElementById("otheremailinfo").style.display="";
//document.getElementById("alternatemail1").focus();
}
else
{

//document.getElementById("otheremailinfo").style.display="none";
document.getElementById("altemailinfo").style.display="";
document.getElementById("alternatemail").focus();
}
}

}

function radiofn(id)
{
if(id=="alternatemail")
{
//document.getElementById(id).style.display="";

//document.getElementById("newaltemail").style.display="none";
///document.getElementById("alternatemail").disabled=false;

document.getElementById("altemailinfo").style.display="";
document.getElementById("whichemail").value=0;
document.getElementById("alternatemail").focus();
}
//else if(id=="alternatemail1")
//{

//document.getElementById("newaltemail").style.display="";
//document.getElementById("otheremailinfo").style.display="";
//document.getElementById("alternatemail").disabled=true;
//document.getElementById("altemailinfo").style.display="none";
//document.getElementById("whichemail").value=1;

//document.getElementById("alternatemail1").focus();
//}

}
function hideansfn()
{
var n=document.getElementById('question');
var t=n.options[n.selectedIndex].value;
if(t==1)
{
document.getElementById("myqsttr").style.display="";
document.getElementById("myqsttd1").style.display="";
document.getElementById("myqsttd2").style.display="";
}
else
{
document.getElementById("myqsttr").style.display="none";
document.getElementById("myqsttd1").style.display="none";
document.getElementById("myqsttd2").style.display="none";
}
}
</script>
<style type="text/css">
.textbox_border_style { border:1px solid #ccc !important; height:25px !important;}
.forgotpasswordtitle { font-size:18px !important; color:#333; padding-left:12px !important}
</style>
</head>
<body onLoad="loadfn('qstnanswerid');"><div class="loginHeader">
<div class="loginheaderWrapper">
<img src="{$imgpath}"  border="0" class="left">

 
	 <div class="right">
		
		<a href="{url:(index/index)}" class="darkSignup"><div class="link">{cfn:getmessage(309)}</div></a>
		<div class="left"> {cfn:getmessage(150)}? </div>
	</div>
	</div>
</div>
<div class="clear"></div>
<div class="mainTop">
<table  border="0" align="center" class="signup_table" cellpadding="0" cellspacing="0" bgcolor="#f3f3f3" width="50%">
	<tr><td>&nbsp;</td></tr>
		<tr>
		<td colspan="1" align="left"  class="forgotpasswordtitle" style="padding-left:12px;">{cfn:getmessage(322)}</td>
	</tr>

	<tr><td >
{formstart:forgotpasswordprocess:{url:(index/forgotyourpassword)}:POST}
<table border="0" align="left"
	style="padding-top: 10px; padding-left: 30px; padding-right: 10px; padding-bottom: 10px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;"
	 cellpadding="0" cellspacing="0" bgcolor="f3f3f3" width="90%">
	{if($msg!="")}
	 <tr>
    <td>&nbsp;</td><td><span class="messageerrdisplay">{fn:nl2br($msg)}!!!</span></td>
  </tr>
	{endif}
<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<td colspan="2" align="left">
		<input type="hidden" name="whichspan" id="whichspan" value="">
		<input type="hidden" name="whichemail" id="whichemail" value="">
		<input type="hidden" name="uid" id="uid" value="{$uid}">
		<input type="hidden" name="uname" id="uname" value="{$uname}">
		<span id="qstnanswerid">
		<table  align="center"  cellpadding="0" cellspacing="0" width="100%" border="0">
          <tr>
            <td colspan="2"  style="color:#008080" >{cfn:getmessage(273)}</td>
          </tr>
		
          <tr height="50">
            <td  width="30%">
              {cfn:getmessage(274)}:</td>
            <td >
            <select name="question" id="question" onChange="hideansfn()" >
			<option value="" selected="selected">{cfn:getmessage(140)}</option>
			<option value="{cfn:getmessage(141)}">{cfn:getmessage(141)}</option>
			<option value="{cfn:getmessage(142)}">{cfn:getmessage(142)}</option>
			<option value="{cfn:getmessage(143)}">{cfn:getmessage(143)}</option>
			<option value="{cfn:getmessage(144)}">{cfn:getmessage(144)}</option>
			<option value="{cfn:getmessage(145)}">{cfn:getmessage(145)}</option>
			<option value="1" >{cfn:getmessage(146)}</option>
			
		</select><span class="mandatory" ><small>*</small></span>
		
              <!-- {if($question!="")}<b>{$question}</b>{endif}</td> -->
          </tr>
		   
		    <tr style="display:none" id="myqsttr"  height="50">
            <td  width="30%" style="display:none" id="myqsttd1">
              {cfn:getmessage(274)}:</td>
            <td style="display:none" id="myqsttd2">
                <input type="text" name="myqst" value="" id="myqst" size="46" class="textbox_border_style"><span class="mandatory" ><small>*</small></span></td>
          </tr>
		  
		  
          <tr>
            <td  width="30%">
              {cfn:getmessage(121)}:</td>
            <td>
                <input type="text" name="answer" value="" id="answer" size="46" class="textbox_border_style"><span class="mandatory" ><small>*</small></span></td>
          </tr>
		  
        </table>
		</span></td>
	</tr>

	<tr>
		<td colspan="2" width="100%"><span  id="altemailid" style="display: none;" >
		<table align=""  cellpadding="0" cellspacing="0" width="100%">
			
			 
			<tr height="50">

				<td colspan="2" style="color:#008080">
				{cfn:getmessage(272)}</td>
			</tr>

			<tr>
				<td  width="30%">{cfn:getmessage(42)}:</td><td>
				<input type="text" name="alternatemail" value="" id="alternatemail"
					size="45" class="textbox_border_style"><span class="mandatory"><small>*</small></span></td>
			</tr>
		</table>
		</span></td>
	</tr>
	
	
	<tr height="50">
		<td  width="30%"> {cfn:getmessage(43)}:</td>
		<td><select name="day" id="day">
			<option value="" selected="selected">{cfn:getmessage(133)}</option>
			{loopstart:DD:1000000}
			<option value="{$DD[0]}">{$DD[0]}</option>
			{loopend:DD}
			
		</select> <select name="month" id="month">
			<option value="" selected="selected">{cfn:getmessage(134)}</option>
			{loopstart:month:100}
			<option value="{$month[0]}">{$month[1]}</option>
			{loopend:month}
		</select> <select name="year" id="year">
			<option value="" selected="selected">{cfn:getmessage(135)}</option>
			{loopstart:YY:1000000}
			<option value="{$YY[0]}">{$YY[0]}</option>
			{loopend:YY}
		
		</select><strong><span class="mandatory">*</span></strong></td>
	</tr>
	
	<tr height="50">

				<td width="30%">{cfn:getmessage(147)}:</td>
				<td align="left">
				<input type="text" name="image" id="image" class="textbox_border_style"><span class="mandatory">*</span> &nbsp;<iframe
					src="{url:(user/captcha)}" marginheight="0" width="190"
					marginwidth="0" height="35" align="middle" frameborder="0"
					scrolling="no"></iframe></td>
		</tr>
 
	<tr >
		<td colspan="2"  width="100%"><span id="displayaltemail">{cfn:getmessage(275)}
		<a href="#" onClick="display('altemailid')" style="color: #009999"> {cfn:getmessage(272)}</a>
		</span> <span id="displayqstn" style="display: none;">{cfn:getmessage(275)}
		<a href="#" onClick="display('qstnanswerid')"  style="color: #009999">
		{cfn:getmessage(273)}</a> </span></td>
	</tr>
 
	<tr>
		<td height="65"><br>		</td>
		<td align="">
		<input type="submit" name="submit" value="{cfn:getmessage(276)}"
			onclick="return ValidateForm();">&nbsp;<input type="button"
			name="Cancel" value="{cfn:getmessage(267)}" onClick="cancelfn();">
			</td>
	</tr>

</table>
{formend:forgotpasswordprocess}
</td></tr></table>
<table width="70%" border="0" align="center" >
  <tr>
    <td><div align="center"><span class="copyright">{$footer}</span></div></td>
  </tr>
</table>
</div>
</body>

</html>